.eCom-menu {
  padding-top: 2vh;
  padding: 1vh 1vb;
  font-weight: normal;
  font-size: 18px;
  width: 70%;
  text-align: center;
  justify-content: center;
  font-weight: 500;
margin-left: 240px;
}
